#dashboard {
  height: 100vh;
  background: url(../assets/images/admin_bg.jpg);
}
body > section {
  background-color: #bdc3c72d;
  overflow-x: hidden;
}
.circle-tile {
  margin-bottom: 15px;
  text-align: center;
}
.circle-tile-heading {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  color: #ffffff;
  height: 80px;
  margin: 0 auto -40px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 80px;
}
.circle-tile-heading .fa {
  line-height: 80px;
}
.circle-tile-content {
  padding-top: 50px;
}
.circle-tile-number {
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  padding: 5px 0 15px;
}
.circle-tile-description {
  text-transform: uppercase;
}
.circle-tile-footer {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 5px;
  transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
  background-color: #2e4154;
}
.circle-tile-heading.green:hover {
  background-color: #138f77;
}
.circle-tile-heading.orange:hover {
  background-color: #da8c10;
}
.circle-tile-heading.blue:hover {
  background-color: #2473a6;
}
.circle-tile-heading.red:hover {
  background-color: #cf4435;
}
.circle-tile-heading.purple:hover {
  background-color: #7f3d9b;
}
.tile-img {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-blue {
  background-color: #34495e;
}
.green {
  background-color: #16a085;
}
.blue {
  background-color: #2980b9;
}
.orange {
  background-color: #f39c12;
}
.red {
  background-color: #e74c3c;
}
.purple {
  background-color: #8e44ad;
}
.dark-gray {
  background-color: #7f8c8d;
}
.gray {
  background-color: #95a5a6;
}
.light-gray {
  background-color: #bdc3c7;
}
.yellow {
  background-color: #f1c40f;
}
.text-dark-blue {
  color: #34495e;
}
.text-green {
  color: #16a085;
}
.text-blue {
  color: #2980b9;
}
.text-orange {
  color: #f39c12;
}
.text-red {
  color: #e74c3c;
}
.text-purple {
  color: #8e44ad;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.select-car {
  padding: 10pt;
  display: flex;
  height: 60vh;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  /* flex-direction: row; */
}

.driver-del:hover {
  cursor: pointer;
  color: aliceblue;
}
.driver-up:hover {
  cursor: pointer;
  color: aliceblue;
}

div#login {
  display: flex;
  z-index: 50;
  height: 100vh;
  border-radius: 5pt;
  opacity: 0.3;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/images/about.jpg);
}

.admin-logo {
  margin-top: 10pt;
  display: flex;
  justify-content: center;
}

.admin-form {
  width: 350pt;
  height: auto;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 20pt;
  background-color: rgba(252, 252, 252, 0.781);
  position: absolute;
}

.logo-main {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url(../assets/images/logo.png);
}

.admin-nav li {
  margin-top: 30pt;
  height: 100pt;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
}

.admin-nav li a:hover {
  color: #06090b !important;
}

.navbar-nav {
  background: beige;
}

.card .bg-image {
  height: 180pt;
  justify-content: center;
  display: flex;
}

.card img {
  width: auto !important;
  height: 100%;
}

.navbar-toggler {
  color: #06090b;
}

.navbar-toggler:focus {
  box-shadow: unset;
}

#booking {
  margin: 0;
  padding-bottom: 20pt;
}

#booking .header {
  color: #2473a6;
}

div#booking-row h5 {
  font-size: 15px;
}

.nav-item {
  margin-top: 0 !important;
}

div#admin:hover {
  opacity: 0.5;
}

tr {
  text-align: center;
}

.nav-item {
  font-weight: 500;
  cursor: pointer;
  border-radius: 5pt;
}

.nav-item:hover {
  background-color: rgb(38, 120, 193);
}

.nav-item:hover .nav-link {
  color: azure !important;
}

.nav-link {
  color: rgb(38, 120, 193);
}

div#logout {
  width: 100pt;
  color: rgb(255, 255, 255);
  height: 40pt;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5pt;
  background-color: rgba(100, 148, 237, 0.411);
}

div#logout:hover {
  opacity: 0.5;
  cursor: pointer;
}

.driver-img {
  height: 250pt;
  width: 200pt;
}
/* style="font-weight: 400; font-size:35pt;" */
.header {
  font-size: 35pt;
  font-weight: 400;
  color: rgba(240, 248, 255, 0.721);
}

/* tr:hover {
  background-color: rgba(240, 248, 255, 0.623);
} */

.driver-img {
  background-position: center;
  background-size: cover;
}
