.driver-cover {
  background-image: url("./assets/images/driver.jpg");
  background-size: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #a1c4fd;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(161, 196, 253, 1),
    rgba(194, 233, 251, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(161, 196, 253, 1),
    rgba(194, 233, 251, 1)
  );
}

.bg-indigo {
  background-color: #4835d4;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

tbody tr:hover {
  cursor: pointer;
}

.mask-custom {
  background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.driver-update {
  width: 80%;
}

svg {
  width: 30px;
  height: 30px;
}

.user-main {
  width: 30%;
}

.nav-item {
  cursor: pointer;
}

#driver-overlay {
  width: 100%;
  height: 100%;
}

/* #car-selection {
  z-index: 1;
  position: sticky;
  top: 63px;
} */

tr {
  text-align: center;
}

.price {
  width: 50%;
}

.navbar {
  background-color: #bac7dc;
}

.ftco-section {
  padding: 0 !important;
}

.select-car {
  height: 50vh;
  background-color: #c9cfda;
  overflow-y: scroll;
}

.driver-img {
  width: 250px;
  height: 300px;
}

.driver-pro {
  position: relative;
  left: 50px;
}

#car-selection .dropdown-toggle {
  color: aliceblue;
}
